.testimonials {
    &_slider {
        &-slide {
            .media {
                max-width: 400px;
                max-height: 492px;
                &_img {
                    max-width: 392px;
                    max-height: 492px;
                    overflow: hidden;

                    img {
                        height: 100%;
                    }
                }
            }

            .main {
                position: relative;

                &_icon {
                    position: absolute;
                }

                &_text {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    letter-spacing: 0.015em;
                    color: rgba(255, 255, 255, 0.78);
                }
            }
        }
    }
}